<div class="card-list  py-2">
    <div class="card" *ngFor="let data of dataType">
        <div
            class="imagebody">
            <img [src]="data.image"
                class="imagehover" />
        </div>
        <div class="">
            <p *ngIf="data.count; else noCount"
                class="cardheader">
                <span class="carddatatitle">
                    {{data.name}}
                </span>
                <span
                    class="iconwithtitle">
                    <i class="fa-solid fa-heart cardicon"></i>
                    {{data?.count}}
                </span>
            </p>
            <ng-template #noCount>
                <p
                    class="cardheader">
                    <span class="carddatatitle">
                        {{data.name}}
                    </span>
                </p>
            </ng-template>
            <p class="carddetails">
                {{data.description}}
            </p>
        </div>
    </div>
</div>