<div class="card-list">
    <div class="card h-[300px] group" *ngFor="let feature of cardList">
        <div class="w-full h-auto flex justify-start items-center">
            <i class="card-icon fa-solid" [ngClass]="feature.icon"></i>
        </div>
        <h3 class="card-title mt-2">
            {{ feature.name }}
        </h3>
        <p class="card-des my-4">
            {{ feature.details }}
        </p>
        <!-- Arrow with Hover Effect -->
        <div class="h-0 overflow-hidden transition-all duration-300 group-hover:h-8 flex items-center justify-start ">
            <i class="fa-solid fa-arrow-right card-icon transform translate-y-2 opacity-0 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100"></i>
        </div>
    </div>
     
</div>