<div class="layout">
    <div class="centeralign">
        <div class="">
            <app-page-header [title]="'Resume'" [sub_title]="'About me'" ></app-page-header>
            <p class="textp my-6">
                I am a passionate Front-End Developer with expertise in
                Angular, Vue.js, React.js, Three.js, and Chart.js.
                My focus is on developing high-performance, interactive, and
                visually engaging web applications that deliver seamless user
                experiences.
                With a strong foundation in modern web technologies, I
                specialize in building dynamic UIs, integrating APIs, and
                optimizing application efficiency.
                My expertise extends to responsive design, animations, and
                data visualization, ensuring that I create intuitive,
                scalable, and user-centric solutions tailored to meet business
                needs.
            </p>

            <div class="textleft my-10">
                <h2 class="texttitle">Work
                    Experience</h2>
                <p
                    class="mt-4 textp">
                    Over the years, I have worked on a diverse range of
                    projects, specializing in front-end development, UI/UX
                    design, and interactive web experiences.
                    My work revolves around crafting dynamic, scalable
                    applications using Angular, Vue.js, and TypeScript to
                    meet modern development standards.

                    With a strong eye for design and performance, I ensure
                    smooth animations, optimized rendering, and engaging
                    interactivity using Three.js and GSAP.
                    Additionally, I implement SSR (Server-Side Rendering) and
                    Lazy Loading to enhance application speed and SEO
                    performance.

                    In my current role, I collaborate with cross-functional
                    teams to develop custom dashboards, interactive data
                    visualizations, and enterprise-level applications.
                    My approach emphasizes clean, reusable code while
                    implementing modern front-end architectures for
                    scalability.

                    I also work with RESTful APIs, WebSockets, and GraphQL,
                    ensuring seamless backend integration to enhance user
                    experience.
                    By staying up-to-date with the latest industry trends, I
                    continuously improve UI/UX design and optimize
                    applications for performance, security, and
                    accessibility.

                    Beyond development, I am passionate about mentoring junior
                    developers and contributing to open-source projects.
                    My ultimate goal is to build seamless, intuitive, and
                    visually captivating web applications that elevate user
                    engagement and business success.
                </p>
            </div>

            <div class="centeralign my-5 w-full">
                <button
                    class="btndownload"
                    (click)="downloadFile()">
                    Download CV
                </button>

            </div>

        </div>

    </div>
</div>
