<div
    class="shadow-sm shadow-gray-200 w-2/4 h-auto rounded-t-none rounded-b-xl block p-0">
    <ul
        class="heading-card w-full h-auto shadow-md shadow-gray-600 grid grid-cols-3">
        <li *ngFor="let plan of pricingData; let i = index"
            (click)="activeTab = i"
            class="list-none w-full h-14 flex items-center text-xl font-bold uppercase justify-center cursor-pointer transition-all duration-300 shadow-lg shadow-gray-600"
            [ngClass]="{'bg-gray-800 text-white rounded-t-xl': activeTab === i, 'bg-gray-100 text-gray-800 z-20': activeTab !== i}">
            {{ plan.name }}
        </li>
    </ul>
    <div class="card-body px-8 py-6">
        <div *ngIf="pricingData[activeTab]"
            class="px-8 py-3 rounded-lg shadow-md shadow-gray-600">
            <div class="flex justify-between w-full items-center py-3">
                <h2 class="text-4xl font-bold text-white">{{
                    pricingData[activeTab].name }}</h2>
                <p class="text-2xl font-bold text-white ">{{
                    pricingData[activeTab].price }}</p>
            </div>
            <div
                class="pricing-details shadow-sm shadow-gray-200 p-2 my-5 rounded-xl border-l-8 border-gray-200">
                <p
                    class="text-lg font-normal text-gray-200 text-justify p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ad
                    quaerat dolor porro laudantium, illo eligendi magni.
                    Consequatur quasi sint, molestiae quis rem architecto
                    saepe,
                    soluta, quam praesentium cum eligendi nulla?
                </p>
            </div>
            <ul class="my-2 space-y-1 grid grid-cols-2 gap-2">
                <li *ngFor="let feature of pricingData[activeTab].features"
                    class="text-gray-200 text-lg font-normal flex items-center gap-2">
                    <i
                        class="fa-solid fa-circle-check text-xl font-semibold text-white"></i>
                    {{ feature }}
                </li>
            </ul>
            <div class="w-full block h-auto py-2">
                <button
                    class="w-full h-16 rounded-xl bg-gray-300 text-xl font-bold text-gray-950 uppercase ">Choose
                    your plane </button>
                <p
                    class="flex justify-center items-center gap-5 w-full h-auto">
                    <span
                        *ngFor="let extra of pricingData[activeTab].dalivery"
                        class="text-sm font-normal tracking-wider text-gray-200 py-5 uppercase">
                        {{ extra}}
                    </span>

                </p>
            </div>
        </div>
    </div>
</div>